body {
  margin: 0;
  background: #ece9e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, serif;
}

.scene {
  width: 900px;
  height: 550px;
  perspective: 2000px;
  margin-top: 40px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  width: 450px;
  height: 100%;
  right: 0;
  background: #fbfaf7;
  padding: 40px;
  box-shadow: 0 15px 30px rgba(0,0,0,.25);
  transform-origin: left center;
  transition: transform 1s ease;
}

.page.cover {
  font-size: 32px;
  text-align: center;
}

.page.flipped {
  transform: rotateY(-180deg);
}
